@CHARSET "UTF-8";

.header-title {
	width: 60px;
	height: 76px;
	transform: translateY(40%);
}

.header-menu {
	background-color: #003399;
	list-style: none;
	margin: 0;
	padding: 5px 0 19px 0;
	transform: translateY(-38%);
}

#form li {
	height: 100%;
	color: white;
	font-size: 12px;
	display: inline-block;
	padding-top: 15px;
	margin-left: 15px;
	margin-right: 10px;
}

.txt-keywords {
	width: 10vw;
	border: none;
	border-radius: 10px;
	box-shadow: none;
	padding: 2px 8px;
}

.txt-keywords:focus {
	outline: none;
}

.cs-div {
	width: 10vw;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 15px;
	-webkit-border-radius: 3px;
}